<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Steam_no_update.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Steam_no_update.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Steam_no_update.Properties.Settings>
            <setting name="initializationOver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="languagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="languagePack" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>ENGLISH language pack for Steam_no_update 1.00 //this line is free to use other than putting 'language pack for Steam_no_update 1.00' anywhere on this line. But this will also be shown when language pack information is clicked on. Also, if there are any {} with numbers in them, keep them as is while translating, otherwise they will create issues. Also double spaces are new Line/Enter so keep them as is.</string>
                        <string> Force Continue?</string>
                        <string>Error</string>
                        <string>Success</string>
                        <string>load a language pack(.txt)</string>
                        <string>Successfully changed the language pack to {0}, if you save this, you can always reset to default by writing -RESET as an argument while starting the app</string>
                        <string>The file given does not contain {0} in the first line</string>
                        <string>The file given has less lines than ({0}) this version ({1}) of the app uses</string>
                        <string>Are You Sure? This will quit the app</string>
                        <string>Sorry I scared you</string>
                        <string>Accept</string>
                        <string>Reject</string>
                        <string>By clicking accept, you acknowledge that I am not responsible for any harm caused to your Steam files by my poor coding (lol).</string>
                        <string>Failed to add find game from uninstallers: Name:{0},ID:{1},Depot:{2},Path:{3}</string>
                        <string>A game add failed but not sure why lol im lazy:</string>
                        <string>No (New if they have already been added) Steam game was found!</string>
                        <string>Select which game to stop updating, double click to edit its properties</string>
                        <string>Select which Manifests to change</string>
                        <string>The last time this game was stopped from being updated</string>
                        <string>Link to the original Creator Website</string>
                        <string>Link to the modifier Github page</string>
                        <string>Link to the website used for the Icons</string>
                        <string>Apply The Depot ManifestID Change</string>
                        <string>Find the folder the game files are located in</string>
                        <string>Click to get the corresponding manifest(s) to the depot id(s) from Steam</string>
                        <string>Click to get information regarding the app</string>
                        <string>Click to search for games automatically</string>
                        <string>Click to save the added games to your local files--THIS WILL CREATE FOLDERS AND A FILE-BE AWARE!</string>
                        <string>Add a new game</string>
                        <string>Remove the selected game</string>
                        <string>{0} install Folder:</string>
                        <string>Latest {0} Manifest ID(s)</string>
                        <string>Select All</string>
                        <string>De/Select all choices</string>
                        <string>Choose the folder where the game is under the Steam\steamapps\common folder</string>
                        <string>It seems like the Folder you selected is incorrect. You can go to the properties of the game in Steam and click on 'Browse Game files' for an easy method to get the correct path</string>
                        <string>Steam seems to be running, please exit it to apply the patch</string>
                        <string>The Manifest ID you entered is incorrect. It should be a long number with somwhere between 15 and 20 digits (i hope). Make sure to not accidently enter any spaces</string>
                        <string>Seems like this update is already applied. I'll apply it again for good measure</string>
                        <string>There aren't the same number of Manifests to correspond with all of the Depots</string>
                        <string>The manifests box has letters in it which is not right!</string>
                        <string>Click again without selecting anything to cancel</string>
                        <string>Only turned off auto update</string>
                        <string>No change applied!</string>
                        <string>Apply The Depot ManifestID Change</string>
                        <string>Patch applied. Steam might still claim that an update available, but it should not actually download anything.  In doubt, create a backup.  To actually update your game at a later point, go to the properties of the game in Steam and verify the game integrity.    **Just simply installing an update at a later point without verifying the game integrity will probably break your game**</string>
                        <string>This tool modifies a config file of Steam to make it think that you already have the last version (Indicated by the correct Manifest ID) eventho you are not.  You will need to redo this whenever an Update is released (Basically whenever Steam prompts you to Update to start the game you use this tool instead to fake that you did update)</string>
                        <string>no Depot or App Id entered!</string>
                        <string>Loading..</string>
                        <string>Automatically retreiving the Manifest ID failed. Copy the latest 'Manifest ID' from the site. Make sure that 'Last update' under the 'Creation date' looks correct, to confirm the site has already spotted the latest update! Open the website?</string>
                        <string>failed retrieving depot {0},</string>
                        <string>Retrieve</string>
                        <string>{0} install Folder:</string>
                        <string>Latest {0} Manifest ID(s)</string>
                        <string>Change the name of the game? Press OK to save and edit appID</string>
                        <string>Edit Game Name</string>
                        <string>Change the appID of the game? Press OK to save and edit depotID</string>
                        <string>Edit Game ID</string>
                        <string>Change the depotID of the game? Press OK to save and edit Installation Path</string>
                        <string>Edit Game depotID</string>
                        <string>You can only write numbers and ',' to seperate them</string>
                        <string>You can only write numbers for APPID</string>
                        <string>Choose which ManifestIDs of Depots to Change</string>
                        <string>This will save the current state and create a physical file in </string>
                        <string>  and will also continue saving untill you press again and cancel or delete the save file    Continue Anyways?</string>
                        <string>This will stop autosaving into the file but will NOT delete the file in </string>
                        <string>, are you sure?</string>
                        <string>Would you like to search for games automatically?</string>
                        <string>Update Never Cancelled</string>
                        <string>the following game failed to load:{0}  should it be deleted to prevent this same error in the future?</string>
                        <string>Apply</string>
                        <string>Choose &amp; Apply</string>
                        <string>Apply Selected</string>
                        <string>ALL Installed Depots</string>
                        <string>Disable Autoupdate</string>
                        <string>Selected Game</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SavingTurnedOn" serializeAs="String">
                <value>False</value>
            </setting>
        </Steam_no_update.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Steam_no_update.Properties.Settings>
            <setting name="defaultLanguagePack" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>ENGLISH language pack for Steam_no_update 1.00 //this line is free to use other than putting 'language pack for Steam_no_update 1.00' anywhere on this line. But this will also be shown when language pack information is clicked on. Also, if there are any {} with numbers in them, keep them as is while translating, otherwise they will create issues. Also double spaces are new Line/Enter so keep them as is.</string>
                        <string> Force Continue?</string>
                        <string>Error</string>
                        <string>Success</string>
                        <string>load a language pack(.txt)</string>
                        <string>Successfully changed the language pack to {0}, if you save this, you can always reset to default by writing -RESET as an argument while starting the app</string>
                        <string>The file given does not contain {0} in the first line</string>
                        <string>The file given has less lines than ({0}) this version ({1}) of the app uses</string>
                        <string>Are You Sure? This will quit the app</string>
                        <string>Sorry I scared you</string>
                        <string>Accept</string>
                        <string>Reject</string>
                        <string>By clicking accept, you acknowledge that I am not responsible for any harm caused to your Steam files by my poor coding (lol).</string>
                        <string>Failed to add find game from uninstallers: Name:{0},ID:{1},Depot:{2},Path:{3}</string>
                        <string>A game add failed but not sure why lol im lazy:</string>
                        <string>No (New if they have already been added) Steam game was found!</string>
                        <string>Select which game to stop updating, double click to edit its properties</string>
                        <string>Select which Manifests to change</string>
                        <string>The last time this game was stopped from being updated</string>
                        <string>Link to the original Creator Website</string>
                        <string>Link to the modifier Github page</string>
                        <string>Link to the website used for the Icons</string>
                        <string>Apply The Depot ManifestID Change</string>
                        <string>Find the folder the game files are located in</string>
                        <string>Click to get the corresponding manifest(s) to the depot id(s) from Steam</string>
                        <string>Click to get information regarding the app</string>
                        <string>Click to search for games automatically</string>
                        <string>Click to save the added games to your local files--THIS WILL CREATE FOLDERS AND A FILE-BE AWARE!</string>
                        <string>Add a new game</string>
                        <string>Remove the selected game</string>
                        <string>{0} install Folder:</string>
                        <string>Latest {0} Manifest ID(s)</string>
                        <string>Select All</string>
                        <string>De/Select all choices</string>
                        <string>Choose the folder where the game is under the Steam\steamapps\common folder</string>
                        <string>It seems like the Folder you selected is incorrect. You can go to the properties of the game in Steam and click on 'Browse Game files' for an easy method to get the correct path</string>
                        <string>Steam seems to be running, please exit it to apply the patch</string>
                        <string>The Manifest ID you entered is incorrect. It should be a long number with somwhere between 15 and 20 digits (i hope). Make sure to not accidently enter any spaces</string>
                        <string>Seems like this update is already applied. I'll apply it again for good measure</string>
                        <string>There aren't the same number of Manifests to correspond with all of the Depots</string>
                        <string>The manifests box has letters in it which is not right!</string>
                        <string>Click again without selecting anything to cancel</string>
                        <string>Only turned off auto update</string>
                        <string>No change applied!</string>
                        <string>Apply The Depot ManifestID Change</string>
                        <string>Patch applied. Steam might still claim that an update available, but it should not actually download anything.  In doubt, create a backup.  To actually update your game at a later point, go to the properties of the game in Steam and verify the game integrity.    **Just simply installing an update at a later point without verifying the game integrity will probably break your game**</string>
                        <string>This tool modifies a config file of Steam to make it think that you already have the last version (Indicated by the correct Manifest ID) eventho you are not.  You will need to redo this whenever an Update is released (Basically whenever Steam prompts you to Update to start the game you use this tool instead to fake that you did update)</string>
                        <string>no Depot or App Id entered!</string>
                        <string>Loading..</string>
                        <string>Automatically retreiving the Manifest ID failed. Copy the latest 'Manifest ID' from the site. Make sure that 'Last update' under the 'Creation date' looks correct, to confirm the site has already spotted the latest update! Open the website?</string>
                        <string>failed retrieving depot {0},</string>
                        <string>Retrieve</string>
                        <string>{0} install Folder:</string>
                        <string>Latest {0} Manifest ID(s)</string>
                        <string>Change the name of the game? Press OK to save and edit appID</string>
                        <string>Edit Game Name</string>
                        <string>Change the appID of the game? Press OK to save and edit depotID</string>
                        <string>Edit Game ID</string>
                        <string>Change the depotID of the game? Press OK to save and edit Installation Path</string>
                        <string>Edit Game depotID</string>
                        <string>You can only write numbers and ',' to seperate them</string>
                        <string>You can only write numbers for APPID</string>
                        <string>Choose which ManifestIDs of Depots to Change</string>
                        <string>This will save the current state and create a physical file in </string>
                        <string>  and will also continue saving untill you press again and cancel or delete the save file    Continue Anyways?</string>
                        <string>This will stop autosaving into the file but will NOT delete the file in </string>
                        <string>, are you sure?</string>
                        <string>Would you like to search for games automatically?</string>
                        <string>Update Never Cancelled</string>
                        <string>the following game failed to load:{0}  should it be deleted to prevent this same error in the future?</string>
                        <string>Apply</string>
                        <string>Choose &amp; Apply</string>
                        <string>Apply Selected</string>
                        <string>ALL Installed Depots</string>
                        <string>Disable Autoupdate</string>
                        <string>Selected Game</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Steam_no_update.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>